.dashboard {
  border-bottom: 1px solid #e8e8e8;
  height: 85%;
  flex-direction: row;
  display: flex;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header {
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 300;
  color: #8c8c8c;
  text-transform: capitalize;
}

.teams-list {
  flex-basis: 25%;
}
