@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.side-nav {
  overflow: 'auto';
  position: 'fixed';
  height: '100vh';
  flex: '0 0 12.5rem';
  max-width: '12.5rem';
  min-width: '12.5rem';
  width: '12.5rem';
}
