@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  /* flex: 'auto'; */
  /* display: inline */
  /* padding: 2%; */
  /* left: 200px; */
  /* height: auto; */
  margin: 1rem;
  /* margin-left: 13.5rem; */
  box-shadow: 0 0 1.5em -1em;
  background: #fafafa;
}
