.demo-infinite-container {
  height: 50%;
  /* padding-bottom: 10rem; */
  padding: 1.5rem 1.5rem;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.demo-infinite-container::-webkit-scrollbar {
  display: none;
}

.demo-loading-container {
  /* position: absolute; */
  bottom: 40px;
  width: auto;
  text-align: center;
}
[data-theme='dark'] .demo-infinite-container {
  border: 1px solid #303030;
}

.demo-loading-container::-webkit-scrollbar {
  display: none;
}

.team-badge .ant-badge-count {
  color: #999;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
}
[data-theme='dark'] .team-badge .ant-badge-count {
  background-color: #141414;
  box-shadow: 0 0 0 1px #434343 inset;
}

.container {
  margin-right: '10%';
  margin-left: '10%';
}

.team-task-wrapper {
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 45%;
  background: rgb(250, 250, 250);
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 2.25em -2em;
}

.team-detail-wrapper {
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 30%;
  background: rgb(250, 250, 250);
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 2.25em -2em;
}
/* 
.team-detail-wrapper::-webkit-scrollbar {
  display: none;
} */

.current-tasks {
  font-weight: bold;
  align-content: center;
  margin-left: 11%;
  margin-bottom: 1rem;
}

.team-members {
  font-weight: bold;
  align-content: center;
  margin-left: 11%;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
}
