.dashboard {
  height: 85%;
  flex-direction: row;
  display: flex;
}

.wrapper {
  height: 100%;
  display: flex;
  /* height: inherit; */
  flex-direction: column;
}

.page-header {
  text-align: left;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 300;
  color: #8c8c8c;
  text-transform: capitalize;
}

.teams-list {
  flex-basis: 25%;
}

.calendar {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 1em;
  height: fit-content;
  box-shadow: 0 0 2.5em -2em;
  margin-left: 2em;
  /* overflow: auto; */
  flex-basis: 50%;
}
