.card {
  width: "400px";
  height: "200px";
  margin: 0 auto;
  box-shadow: black 0px 8px 24px;
}
.text {
  font-weight: 600;
  font-size: 8em;
  will-change: opacity;
}

.container .card {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.fade-enter .card {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .card {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .card {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .card {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active .card {
  transition: opacity 500ms, transform 500ms;
}
