.card {
  width: "400px";
  height: "200px";
  margin: 0 auto;
  box-shadow: black 0px 8px 24px;
}
.text {
  font-weight: 600;
  font-size: 8em;
  will-change: opacity;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
