@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  box-shadow: inset 0 0 0.5em black;
  background: rgba(255, 255, 255, 0.3);
}

.content {
  margin: 1rem;
  box-shadow: 0 0 1.5em -1em;
  background: #fafafa;
}
