.upcoming-tasks {
  padding: 3ch;
  margin: 0.5em;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 2.5em -2em;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.main-text-wrapper {
  color: #595959;
  margin-bottom: 1rem;
  font-weight: 600;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem rgba(255, 238, 0, 0.623);
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.overdue {
  box-shadow: 0 0 0 0.5rem rgba(255, 0, 0, 0.623);
}

.today {
  box-shadow: 0 0 0 0.5rem rgba(255, 136, 0, 0.623);
}

.task-text-main {
  margin: 0;
  font-size: 4vw;
}

.task-text-sub {
  color: #8c8c8c;
  font-size: 2vh;
  transition: all;
  margin: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.upcoming-tasks::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d6e4ff;
  border-radius: 10px;
  opacity: 0.5;
  left: 0;
  top: 0;
  z-index: -1;
  transform-origin: middle;
  transform: scaleX(0);
  box-shadow: 0 0 1rem -1rem;
  transition: transform 300ms ease;
  transform-origin: right;
}

.upcoming-tasks:hover {
  transform: scale(105%);
  cursor: pointer;
}

.upcoming-tasks:hover .task-text-sub {
  transform: scale(1.1);
  color: black;
}

.upcoming-tasks:hover .main-text-wrapper {
  transform: scale(1.1);
  box-shadow: 0 0 0 0.5rem rgb(255, 238, 0);
  color: black;
}

.upcoming-tasks:hover .overdue {
  box-shadow: 0 0 0 0.5rem rgb(255, 0, 0);
}

.upcoming-tasks:hover .today {
  box-shadow: 0 0 0 0.5rem rgb(255, 136, 0);
}

.upcoming-tasks:hover::after {
  box-shadow: 0 0 0.55em -0.2em black;
  transform: scaleX(1);
  transform-origin: left;
}
